/*---------------
      RESET
---------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------
     GENERAL
---------------*/

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*---------------
     COLUMNS
---------------*/

.col-jolly {
    flex-grow: 1;
}

.col-1 {
    flex-basis: calc(100% / 12);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
}

.col-12 {
    flex-basis: 100%;
}

/*---------------
     OFFSET
---------------*/

.col-offset-1 {
    margin-left: calc(100% / 12);
}
.col-offset-2 {
    margin-left: calc((100% / 12) * 2);
}
.col-offset-3 {
    margin-left: calc((100% / 12) * 3);
}
.col-offset-4 {
    margin-left: calc((100% / 12) * 4);
}
.col-offset-5 {
    margin-left: calc((100% / 12) * 5);
}
.col-offset-6 {
    margin-left: calc((100% / 12) * 6);
}
.col-offset-7 {
    margin-left: calc((100% / 12) * 7);
}
.col-offset-8 {
    margin-left: calc((100% / 12) * 8);
}
.col-offset-9 {
    margin-left: calc((100% / 12) * 9);
}
.col-offset-10 {
    margin-left: calc((100% / 12) * 10);
}
.col-offset-11 {
    margin-left: calc((100% / 12) * 11);
}


/*---------------
  MEDIAQUERIES
---------------*/

/*--- sm > 576px ---*/

@media screen and (min-width:576) {
    .col-1-sm {
        flex-basis: calc(100% / 12);
    }
    
    .col-2-sm {
        flex-basis: calc((100% / 12) * 2);
    }
    
    .col-3-sm {
        flex-basis: calc((100% / 12) * 3);
    }
    
    .col-4-sm {
        flex-basis: calc((100% / 12) * 4);
    }
    
    .col-5-sm {
        flex-basis: calc((100% / 12) * 5);
    }
    
    .col-6-sm {
        flex-basis: calc((100% / 12) * 6);
    }
    
    .col-7-sm {
        flex-basis: calc((100% / 12) * 7);
    }
    
    .col-8-sm {
        flex-basis: calc((100% / 12) * 8);
    }
    
    .col-9-sm {
        flex-basis: calc((100% / 12) * 9);
    }
    
    .col-10-sm {
        flex-basis: calc((100% / 12) * 10);
    }
    
    .col-11-sm {
        flex-basis: calc((100% / 12) * 11);
    }

    /*--- offset ---*/

    .col-offset-1-sm {
        margin-left: calc(100% / 12);
    }
    .col-offset-2-sm {
        margin-left: calc((100% / 12) * 2);
    }
    .col-offset-3-sm {
        margin-left: calc((100% / 12) * 3);
    }
    .col-offset-4-sm {
        margin-left: calc((100% / 12) * 4);
    }
    .col-offset-5-sm {
        margin-left: calc((100% / 12) * 5);
    }
    .col-offset-6-sm {
        margin-left: calc((100% / 12) * 6);
    }
    .col-offset-7-sm {
        margin-left: calc((100% / 12) * 7);
    }
    .col-offset-8-sm {
        margin-left: calc((100% / 12) * 8);
    }
    .col-offset-9-sm {
        margin-left: calc((100% / 12) * 9);
    }
    .col-offset-10-sm {
        margin-left: calc((100% / 12) * 10);
    }
    .col-offset-11-sm {
        margin-left: calc((100% / 12) * 11);
    }

}

/*--- md > 768px ---*/

@media screen and (min-width: 768px) {
    .col-1-md {
        flex-basis: calc(100% / 12);
    }
    
    .col-2-md {
        flex-basis: calc((100% / 12) * 2);
    }
    
    .col-3-md {
        flex-basis: calc((100% / 12) * 3);
    }
    
    .col-4-md -md{
        flex-basis: calc((100% / 12) * 4);
    }
    
    .col-5-md {
        flex-basis: calc((100% / 12) * 5);
    }
    
    .col-6-md {
        flex-basis: calc((100% / 12) * 6);
    }
    
    .col-7-md {
        flex-basis: calc((100% / 12) * 7);
    }
    
    .col-8-md {
        flex-basis: calc((100% / 12) * 8);
    }
    
    .col-9-md {
        flex-basis: calc((100% / 12) * 9);
    }
    
    .col-10-md {
        flex-basis: calc((100% / 12) * 10);
    }
    
    .col-11-md {
        flex-basis: calc((100% / 12) * 11);
    }
    
    .col-12-md {
        flex-basis: 100%;
    }

    /*--- offset ---*/

    .col-offset-1-md {
        margin-left: calc(100% / 12);
    }
    .col-offset-2-md {
        margin-left: calc((100% / 12) * 2);
    }
    .col-offset-3-md {
        margin-left: calc((100% / 12) * 3);
    }
    .col-offset-4-md {
        margin-left: calc((100% / 12) * 4);
    }
    .col-offset-5-md {
        margin-left: calc((100% / 12) * 5);
    }
    .col-offset-6-md {
        margin-left: calc((100% / 12) * 6);
    }
    .col-offset-7-md {
        margin-left: calc((100% / 12) * 7);
    }
    .col-offset-8-md {
        margin-left: calc((100% / 12) * 8);
    }
    .col-offset-9-md {
        margin-left: calc((100% / 12) * 9);
    }
    .col-offset-10-md {
        margin-left: calc((100% / 12) * 10);
    }
    .col-offset-11-md {
        margin-left: calc((100% / 12) * 11);
    }
}

/*--- lg > 992px ---*/

@media screen and (min-width: 992px) {
    .col-1-lg {
        flex-basis: calc(100% / 12);
    }
    
    .col-2-lg {
        flex-basis: calc((100% / 12) * 2);
    }
    
    .col-3-lg {
        flex-basis: calc((100% / 12) * 3);
    }
    
    .col-4-lg {
        flex-basis: calc((100% / 12) * 4);
    }
    
    .col-5-lg {
        flex-basis: calc((100% / 12) * 5);
    }
    
    .col-6-lg {
        flex-basis: calc((100% / 12) * 6);
    }
    
    .col-7-lg {
        flex-basis: calc((100% / 12) * 7);
    }
    
    .col-8-lg {
        flex-basis: calc((100% / 12) * 8);
    }
    
    .col-9-lg {
        flex-basis: calc((100% / 12) * 9);
    }
    
    .col-10-lg {
        flex-basis: calc((100% / 12) * 10);
    }
    
    .col-11-lg {
        flex-basis: calc((100% / 12) * 11);
    }
    
    .col-12-lg {
        flex-basis: 100%;
    }

    /*--- offset ---*/

    .col-offset-1-lg {
        margin-left: calc(100% / 12);
    }
    .col-offset-2-lg {
        margin-left: calc((100% / 12) * 2);
    }
    .col-offset-3-lg {
        margin-left: calc((100% / 12) * 3);
    }
    .col-offset-4-lg {
        margin-left: calc((100% / 12) * 4);
    }
    .col-offset-5-lg {
        margin-left: calc((100% / 12) * 5);
    }
    .col-offset-6-lg {
        margin-left: calc((100% / 12) * 6);
    }
    .col-offset-7-lg {
        margin-left: calc((100% / 12) * 7);
    }
    .col-offset-8-lg {
        margin-left: calc((100% / 12) * 8);
    }
    .col-offset-9-lg {
        margin-left: calc((100% / 12) * 9);
    }
    .col-offset-10-lg {
        margin-left: calc((100% / 12) * 10);
    }
    .col-offset-11-lg {
        margin-left: calc((100% / 12) * 11);
    }
}